/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */



:root {
    --black: hsl(230, 35%, 7%);
    --white: hsl(0, 0%, 100%);
    --lavander: hsl(231, 77%, 90%);
    --filter-color: hsla(231, 76%, 90%, 0.116);
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

@media (max-width: 951px) {
    body {
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
}

@media (max-width: 650px) {
    body {
        background-image: url(../assets/home/background-home-mobile.jpg);
    }
}


                    /* index main layout */

.wrapper {
    width: 80%;
    margin: 3em auto 0 auto;
}  
                    
.title {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main button {
    display: block;
    width: 30vw;
    min-width: 150px;
    max-width: 274px;
    height: 30vw;
    min-height: 150px;
    max-height: 274px;
    border-radius: 50%;
    border: none;
    padding: 1em;
    margin: 5em auto 0 auto;
    cursor: pointer;
}

main button:hover {
    box-shadow: 0px 0px 0px 50px var(--filter-color);
}


/* typo */


main h5 {
    text-transform: uppercase;
    letter-spacing: 4.75px;
    font-family: 'Barlow Condensed', serif;
    color: var(--lavander);
    font-size: clamp(0.75rem, 3vw, 1.75rem);
    text-align: center;
}

main h1 {
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    color: var(--white);
    font-size: clamp(2rem, 25vw, 9.375rem);
    text-align: center;
}

main p {
    color: var(--lavander);
    font-size: clamp(0.9rem, 2.5vw, 1.125rem);
    line-height: 1.75em;
    text-align: center;
}

main button {
    text-transform: uppercase;
    letter-spacing: 4.75px;
    font-family: 'Bellefair', sans-serif;
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

main h5,
main h1,
main p
main button {
    font-weight: 400;
}


/* breakpoint */


@media (min-width: 951px) {
    .wrapper {
        display: flex;
        margin: 20em auto 0 auto;
    }

    .title {
        max-width: 386px;
    }

    main button {
        margin: auto 0 0 auto;
    }


    /* typo */

    main h1,
    main h5,
    main p {
        text-align: start;
    }

}